<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Proyecto1PDM115">
        <activity
            android:name=".permisos.CrearPermisoActivity"
            android:exported="false" />
        <activity
            android:name=".permisos.PermisosMenuActivity"
            android:exported="false" />
        <activity
            android:name=".usuarios.EliminarUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".usuarios.ModificarUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".usuarios.VisualizarUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".usuarios.UsuariosMenuActivity"
            android:exported="false" />
        <activity
            android:name=".usuarios.CrearUsuarioActivity"
            android:exported="false" />
        <activity android:name=".PerfilActivity" />
        <activity
            android:name=".especialidades.ModificarEspecialidadActivity"
            android:exported="false" />
        <activity
            android:name=".especialidades.EliminarEspecialidadActivity"
            android:exported="false" />
        <activity
            android:name=".especialidades.VisualizarEspecialidadesActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" /> <!-- CRUD De Pacientes -->
        <activity android:name=".pacientes.PacienteMenuActivity" />
        <activity android:name=".pacientes.CrearPacienteActivity" />
        <activity android:name=".pacientes.VisualizarPacientesActivity" />
        <activity android:name=".pacientes.ModificarPacienteActivity" />
        <activity android:name=".pacientes.EliminarPacienteActivity" />
        <activity android:name=".doctores.DoctorMenuActivity" />
        <activity android:name=".especialidades.EspecialidadMenuActivity" />
        <activity android:name=".especialidades.CrearEspecialidadActivity" />
        <activity android:name=".hospitales.HospitalMenuActivity" /> <!-- CRUD De Establecimientos -->
        <activity android:name=".aseguradoras.AseguradoraMenuActivity" />
        <activity android:name=".aseguradoras.CrearAseguradoraActivity" />
        <activity android:name=".aseguradoras.VisualizarAseguradorasActivity" />
        <activity android:name=".aseguradoras.ActualizarAseguradoraActivity" />
        <activity android:name=".aseguradoras.EliminarAseguradoraActivity" /> <!-- CRUD De Establecimientos -->
        <activity android:name=".establecimientos.EstablecimientoMenuActivity" />
        <activity android:name=".establecimientos.CrearEstablecimientoActivity" />
        <activity android:name=".establecimientos.VisualizarEstablecimientosActivity" />
        <activity android:name=".establecimientos.ActualizarEstablecimientoActivity" />
        <activity android:name=".establecimientos.EliminarEstablecimientoActivity" />
    </application>

</manifest>